.wrapper {
  display: flex;
  flex-direction: row;
  padding: 20px;

  .list {
    flex: 1;
  }

  .list-content {
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    flex-basis: 400px;
    flex-shrink: 0;
    flex-grow: 0;
  }
}
