<mat-toolbar>
  <span>Book database</span>
</mat-toolbar>

<div class="wrapper">

  <div class="list">
    <mat-tab-group>
      <mat-tab label="Store">
        <div class="list-content">
          <app-book-card *ngFor="let book of storeBooks" [book]="book"></app-book-card>
        </div>
      </mat-tab>
      <mat-tab label="Library">
        <div class="list-content">
        <app-book-card *ngFor="let book of libraryBooks" [book]="book"></app-book-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <mat-card class="sidebar">
    <!-- TODO: Show the author details -->
    <mat-card-content>
      <app-author-card></app-author-card>
    </mat-card-content>
  </mat-card>

</div>
